@tailwind components;
@tailwind base;
@tailwind utilities;

body {
  min-height: 100vh;
  min-width: 100vw;
}

#root {
  @apply lg:pl-[250px] bg-gray-200 pt-[70px] lg:pt-0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Proporciona un espacio adicional para navegadores que no siguen el estándar de WebKit */
input[type="number"] {
  -moz-appearance: textfield;
}
